@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-help_buttons {
  position: fixed;
  bottom: 12px;
  left: 5px;
  display: flex;
  gap: 10px;
  z-index: 949;
  align-items: flex-end;
}

.bga-help_button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
}

.bga-help_popin-button {
  --background: black;
  --color: white;
  font-weight: bold;
  font-size: 28pt;
  background: var(--background);
  color: var(--color);
}

.bga-help_expandable-button {
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.bga-help_expandable-button .bga-help_folded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.bga-help_expandable-button .bga-help_unfolded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] {
  width: var(--expanded-width);
  height: var(--expanded-height);
  border-radius: var(--expanded-radius);
}

.bga-help_expandable-button[data-folded=false] .bga-help_folded-content {
  opacity: 0;
}

.bga-help_expandable-button[data-folded=false] .bga-help_unfolded-content {
  opacity: 1;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #bga-help_buttons {
    bottom: 5px;
  }
}
#popin_bgaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_bgaHelpDialog {
  --background-color: white;
  background: var(--background-color);
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-dialog-content {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover,
.card-stock.all-visible-deck.vertical:active,
.card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card,
.card-stock.all-visible-deck.vertical:active > .card,
.card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover,
.card-stock.all-visible-deck.horizontal:active,
.card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card,
.card-stock.all-visible-deck.horizontal:active > .card,
.card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.deck .card {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}
.deck .card .card-side {
  box-shadow: none !important;
}

@font-face {
  font-family: "The Slavic";
  src: url("img/font_the-slavic/TheSlavicFont-Regular.ttf");
}
.player-name a:first-of-type,
.playername {
  font-family: "Montserrat", Roboto;
  color: var(--color);
  background-color: var(--opp-color);
  border-radius: 4px;
  box-shadow: 0 0 4px var(--color);
  padding: 2px;
}

.azr_customFont-title {
  font-family: "The Slavic", Roboto, sans-serif;
  text-transform: uppercase !important;
}

.dijitTooltipContainer:has(.azr_tooltip) {
  box-shadow: 0 4px 12px var(--color) !important;
  padding: 0;
}

.azr_tooltip {
  font-family: "Montserrat", Roboto;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  color: var(--color);
  background-color: var(--opp-color);
  padding: 8px;
}

:root {
  --domain-width: 500px;
  --space-width: calc(var(--domain-width) / 3);
}

.azr_realm {
  position: relative;
  grid-area: realm;
  box-shadow: 0 0 16px 4px #000000;
  aspect-ratio: 1;
  width: calc(var(--domain-width) * 2);
}

.azr_domains {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, var(--domain-width));
  grid-template-rows: repeat(2, var(--domain-width));
  z-index: -1;
}

.azr_domain {
  background-size: cover;
  aspect-ratio: 1;
  width: var(--domain-width);
  transform: rotate(var(--rotation));
  pointer-events: none;
}

:root {
  --beast-width: calc(var(--space-width) * 0.8);
}

.azr_beast {
  position: relative;
  aspect-ratio: 1;
  background-size: cover;
  width: var(--beast-width);
  filter: drop-shadow(0 0 8px #000000);
}
.azr_beast * {
  box-shadow: none !important;
}

.azr_beastTooltip {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.azr_beastTooltipTitle {
  font-size: 24px;
}

:root {
  --qi-width: 180px;
}

.azr_decks {
  grid-area: decks;
  display: grid;
  grid-template-columns: repeat(5, var(--qi-width));
  justify-content: center;
  gap: 24px;
  width: calc(var(--domain-width) * 2);
}

.azr_qi {
  position: relative;
  aspect-ratio: 1/1.52;
  width: var(--qi-width);
}
.azr_qi .card-side {
  background-size: cover;
}
.azr_qi.azr_selectable {
  cursor: pointer;
}
.azr_qi.azr_selected {
  outline: 6px solid green;
  transform: translateY(-10%);
}

.azr_deckCounter {
  color: var(--color) !important;
  font-size: 40px !important;
  background-color: var(--opp-color) !important;
  box-shadow: 0 0 2px 1px var(--color) !important;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  transform: translate(-20%, -20%);
}

.azr_handContainer {
  grid-area: hand;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: var(--color-transparent);
  box-shadow: 0 0 8px var(--opp-color);
  margin: 0;
  padding: 8px;
  width: 100%;
}

.azr_handTitle {
  color: var(--color);
  border-radius: 8px;
  font-size: 48px;
  align-self: start;
  background-color: var(--opp-color);
  margin: 0;
  padding: 4px;
}

.azr_hand {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

:root {
  --stone-width: calc(var(--space-width) * 0.57);
}

.azr_stone {
  position: relative;
  border-radius: 100%;
  box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.2), 0 0 8px #000000;
  aspect-ratio: 1;
  width: var(--stone-width);
}
.azr_stone:not(.bga-animations_animated) {
  transition: 2s;
}
.azr_stone:hover {
  opacity: 0.5;
}
.azr_stone-003a4f {
  background: radial-gradient(circle at 80% 20%, rgb(0, 109, 138) 0%, rgb(0, 58, 79) 60%, rgb(0, 30, 42) 70%, rgb(0, 0, 0) 100%);
}
.azr_stone-c1e8fb {
  background: radial-gradient(circle at 80% 20%, #ffffff 0%, #c1e8fb 60%, #91cde5 70%, #5ca9c6 100%);
}
.azr_stone .card-side {
  box-shadow: none !important;
}

.azr_stonesVoid {
  top: -100%;
  right: -200%;
}

.azr_spaces {
  display: grid;
  grid-template-columns: repeat(6, var(--space-width));
  grid-template-rows: repeat(6, var(--space-width));
}

.azr_space {
  position: relative;
  display: flex;
  grid-column: var(--x);
  grid-row: var(--y);
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--space-width);
}
.azr_space .card-side {
  box-shadow: none !important;
}
.azr_space.azr_selectable {
  cursor: pointer;
}
.azr_space.azr_unselectable {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.4);
}
.azr_space.azr_selected {
  background-color: rgba(0, 100, 0, 0.5333333333);
}

:root {
  --wisdom-width: calc(var(--stone-width) / 1.5);
}

.azr_wisdomTrack {
  grid-area: wisdom;
  position: relative;
  background-image: url("img/wisdom.jpg");
  background-size: cover;
  box-shadow: 0 0 8px 2px #000000;
  aspect-ratio: 1;
  width: var(--domain-width);
}
.azr_wisdomTrack-number {
  position: absolute;
  border-radius: 100%;
  height: var(--wisdom-width);
  width: var(--wisdom-width);
  transform: translate(-50%, -50%);
}
.azr_wisdomTrack-number:nth-child(1) {
  top: 87%;
  left: 88%;
}
.azr_wisdomTrack-number:nth-child(2) {
  top: 93%;
  left: 60%;
}
.azr_wisdomTrack-number:nth-child(3) {
  top: 91%;
  left: 37%;
}
.azr_wisdomTrack-number:nth-child(4) {
  top: 79%;
  left: 14%;
}
.azr_wisdomTrack-number:nth-child(5) {
  top: 58%;
  left: 10%;
}
.azr_wisdomTrack-number:nth-child(6) {
  top: 38%;
  left: 10%;
}
.azr_wisdomTrack-number:nth-child(7) {
  top: 18%;
  left: 15%;
}
.azr_wisdomTrack-number:nth-child(8) {
  top: 13%;
  left: 33%;
}
.azr_wisdomTrack-number:nth-child(9) {
  top: 8%;
  left: 51%;
}
.azr_wisdomTrack-number:nth-child(10) {
  top: 7%;
  left: 72%;
}
.azr_wisdomTrack-number:nth-child(11) {
  top: 17%;
  left: 84%;
}
.azr_wisdomTrack-number:nth-child(12) {
  top: 30%;
  left: 90%;
}
.azr_wisdomTrack-number:nth-child(13) {
  top: 44%;
  left: 90%;
}
.azr_wisdomTrack-number:nth-child(14) {
  top: 60%;
  left: 88%;
}
.azr_wisdomTrack-number:nth-child(15) {
  top: 70%;
  left: 75%;
}
.azr_wisdomTrack-number:nth-child(16) {
  top: 73%;
  left: 58%;
}
.azr_wisdomTrack-number:nth-child(17) {
  top: 72%;
  left: 42%;
}
.azr_wisdomTrack-number:nth-child(18) {
  top: 62%;
  left: 29%;
}
.azr_wisdomTrack-number:nth-child(19) {
  top: 45%;
  left: 27%;
}
.azr_wisdomTrack-number:nth-child(20) {
  top: 33%;
  left: 34%;
}
.azr_wisdomTrack-number:nth-child(21) {
  top: 27%;
  left: 48%;
}
.azr_wisdomTrack-number:nth-child(22) {
  top: 28%;
  left: 63%;
}
.azr_wisdomTrack-number:nth-child(23) {
  top: 40%;
  left: 72%;
}
.azr_wisdomTrack-number:nth-child(24) {
  top: 55%;
  left: 69%;
}
.azr_wisdomTrack-number:nth-child(25) {
  top: 50%;
  left: 52%;
}

.azr_wisdom {
  width: var(--wisdom-width);
}
.azr_wisdom:nth-child(2) {
  top: -75%;
  z-index: 1;
}

.azr_favorsContainer {
  position: relative;
  grid-area: favors;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  height: calc(var(--domain-width) * 0.9);
  width: 100%;
}

.azr_favorsTitle {
  color: var(--color);
  font-size: 48px;
  position: absolute;
  top: -10%;
  left: 50%;
  background-color: var(--opp-color);
  border-radius: 8px;
  box-shadow: 0 0 8px var(--color);
  margin: 0;
  padding: 4px;
  width: max-content;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.azr_favors {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-transparent);
  box-shadow: 0 0 4px var(--opp-color);
  margin: 0;
  height: 50%;
  width: 100%;
}
.azr_favors .playername {
  font-size: 32px;
  position: absolute;
  bottom: -2%;
  right: -2%;
  border-radius: 8px;
  padding: 4px;
  margin: 0;
  width: fit-content;
}

.azr_favorBeasts {
  display: grid;
  grid-template-columns: repeat(4, var(--beast-width));
}

.player-board {
  font-family: "Montserrat", Roboto;
}

.player_score {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}
.player_score .player_score_value {
  font-family: "The Slavic", Roboto;
  font-size: 24px;
}

.player-board-game-specific-content {
  display: flex;
  gap: 16px;
  align-items: end;
  flex-wrap: wrap;
  padding: 8px 2px 0 2px;
}

.azr_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
}
.azr_counterIcon {
  background-size: cover;
}
.azr_counterCount {
  font-size: 24px;
}

.azr_handCounter {
  --qi-width: 50px;
}
.azr_handCounterIcon {
  background-image: url("img/qi_0.jpg");
  box-shadow: 0 0 4px #000000;
  width: var(--qi-width);
}

.azr_stoneCounter {
  --stone-width: 50px;
}
.azr_stoneCounterIcon {
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px #000000;
  width: var(--stone-width);
}

.azr_pref-thematicBg {
  background-image: url("img/background.jpg");
  background-size: 100%;
}
.azr_pref-thematicBg .player-board {
  color: #ffffff;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: bottom;
}

.azr_logHighlight {
  font-weight: bold;
}

.azr_logIcon {
  background-size: cover;
  margin: 4px auto 0 auto;
}

.azr_spaceIcon {
  box-shadow: 0 0 4px #000000;
  aspect-ratio: 1;
  width: 50px;
}

.azr_qiIcon {
  box-shadow: 0 0 4px #000000;
  aspect-ratio: 1/1.52;
  width: 50px;
}

#bga-zoom-wrapper {
  direction: ltr;
}

.azr_gameArea {
  direction: ltr;
  font-family: "Montserrat", Roboto;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-areas: "hand hand" "realm favors" "realm wisdom" "decks empty";
  gap: 24px;
  padding: 8px;
  width: 100%;
  user-select: none;
}
