:root {
  --stone-width: calc(var(--space-width) * 0.57);
}

.azr_stone {
  position: relative;
  border-radius: 100%;
  box-shadow: inset 0 0 8px 4px #00000033, 0 0 8px #000000;
  aspect-ratio: 1;
  width: var(--stone-width);

  &:not(.bga-animations_animated) {
    transition: 2s;
  }

  &:hover {
    opacity: 0.5;
  }

  &-003a4f {
    background: radial-gradient(
      circle at 80% 20%,
      rgb(0, 109, 138) 0%,
      rgb(0, 58, 79) 60%,
      rgb(0, 30, 42) 70%,
      rgb(0, 0, 0) 100%
    );
  }

  &-c1e8fb {
    background: radial-gradient(
      circle at 80% 20%,
      #ffffff 0%,
      #c1e8fb 60%,
      #91cde5 70%,
      #5ca9c6 100%
    );
  }

  &-gifted {
  --stone-width: 50px;
  margin-bottom: 26px;

  &::before {
    content: "";
    background-image: var(--gifted-bg);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

  .card-side {
    box-shadow: none !important;
  }
}

.azr_stonesVoid {
  top: -100%;
  right: -200%;
}
