:root {
  --stone-width: var(--space-width);
}

.azr_stone {
  border-radius: 100%;
  box-shadow: inset 0 0 8px 4px #00000033;
  aspect-ratio: 1;
  width: var(--stone-width);

  &-003a4f {
    background: radial-gradient(
      circle at 80% 20%,
      rgb(0, 109, 138) 0%,
      rgb(0, 58, 79) 60%,
      rgb(0, 30, 42) 70%,
      rgb(0, 0, 0) 100%
    );
  }

  &-c1e8fb {
    background: radial-gradient(
      circle at 80% 20%,
      #ffffff 0%,
      #c1e8fb 60%,
      #91cde5 70%,
      #5ca9c6 100%
    );
  }
}
