:root {
  --stone-width: calc(var(--space-width) * 0.54);
}

.azr_stone {
  position: relative;
  border-radius: 100%;
  box-shadow: inset 0 0 8px 4px #00000033, 0 0 8px #000000;
  aspect-ratio: 1;
  width: var(--stone-width);

  &:not(.bga-animations_animated) {
    transition: 2s;
  }

  &:hover {
    opacity: 0.5;
  }

  &-003a4f {
    --opp-color: #c1e8fb;
    background: radial-gradient(
      circle at 80% 20%,
      rgb(0, 109, 138) 0%,
      rgb(0, 58, 79) 60%,
      rgb(0, 30, 42) 70%,
      rgb(0, 0, 0) 100%
    );
  }

  &-c1e8fb {
    --opp-color: #003a4f;

    background: radial-gradient(
      circle at 80% 20%,
      #ffffff 0%,
      #c1e8fb 60%,
      #91cde5 70%,
      #5ca9c6 100%
    );
  }

  &-gifted {
    &::before {
      content: "";
      background-image: var(--gifted-bg);
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &-highlight {
      animation: blink 1.5s infinite ease-in-out;
    }
  }

  .card-side {
    box-shadow: none !important;
  }
}

.azr_giftedStone {
  &:empty {
    display: none;
  }

  .azr_stone-gifted {
    --stone-width: 50px;
    margin-bottom: 26px;
  }
}

.azr_stonesVoid {
  top: -100%;
  right: -200%;
}

.azr_pref-lastPlaced {
  .azr_stone-lastPlaced {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--opp-color);
      opacity: 90%;
      aspect-ratio: 1;
      width: calc(var(--stone-width) * 0.25);
      z-index: 2;
    }
  }
}
