.azr_giftedContainer {
  grid-area: gifted;
  position: relative;
}

.azr_giftedCard {
  font-weight: bold;
  color: #ffffff;
  aspect-ratio: 1 / 1.52;
  width: var(--qi-width);

  &Title {
    font-family: "The Slavic", Roboto;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 24%;
    left: 35%;
    transform: translateX(-50%);
    height: calc(var(--qi-width) / 8);
    width: calc(var(--qi-width) / 2);
  }

  &Description {
    font-family: "Montserrat", Roboto;
    font-size: 8px;
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    height: calc(var(--qi-width) * 0.3);
    width: calc(var(--qi-width) * 0.8);
  }
}

.azr_giftedCardTooltip {
  --qi-width: 300px;

  .azr_giftedCardDescription {
    font-size: 56px;
  }
}
