.azr_giftedContainer {
  grid-area: gifted;
  position: relative;
}

.azr_giftedCard {
  font-weight: bold;
  color: #ffffff;
  aspect-ratio: 338 / 521;
  width: var(--qi-width);
  overflow-x: hidden;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);

  &Title {
    font-family: "The Slavic", Roboto;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 24%;
    left: 35%;
    transform: translateX(-50%);
    height: calc(var(--qi-width) / 8);
    width: calc(var(--qi-width) / 2);
  }

  &Description {
    font-family: "Montserrat", Roboto;
    font-size: 6px;
    text-align: center;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    height: calc(var(--qi-width) * 0.3);
    width: calc(var(--qi-width) * 0.8);
  }

  &-highlight {
    animation: blink 1.5s infinite ease-in-out;
  }
}

.azr_giftedCardTooltip {
  --qi-width: 300px;

  .azr_giftedCardDescription {
    font-size: 56px;
  }
}
