:root {
  --qi-width: 150px;
}

.azr_decks {
  grid-area: decks;
  display: grid;
  grid-template-columns: repeat(5, var(--qi-width));
  justify-content: center;
  gap: 16px;
  width: calc(var(--domain-width) * 2);
}

.azr_qi {
  aspect-ratio: 1 / 1.52;
  width: var(--qi-width);

  .card-side {
    background-size: cover;
  }
}

.azr_deckCounter {
  font-size: 32px !important;
}

.azr_hand {
  grid-area: hand;
  margin-bottom: 0 8px 32px 8px;
}