:root {
  --qi-width: 150px;
}

.azr_decks {
  grid-area: decks;
  display: grid;
  grid-template-columns: repeat(5, var(--qi-width));
  justify-content: center;
  gap: 16px;
  width: calc(var(--domain-width) * 2);
}

.azr_qi {
  position: relative;
  aspect-ratio: 1 / 1.52;
  width: var(--qi-width);

  .card-side {
    background-size: cover;
  }

  &.azr_selectable {
    cursor: pointer;
  }

  &.azr_selected {
    outline: 6px solid green;
    transform: translateY(-10%);
  }
}

.azr_deckCounter {
  color: var(--color) !important;
  font-size: 40px !important;
  background-color: var(--opp-color) !important;
  box-shadow: 0 0 2px 1px var(--color) !important;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  transform: translate(-20%, -10%);
}

.azr_handContainer {
  grid-area: hand;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
  width: 100%;
}

.azr_handTitle {
  color: var(--color);
  border-radius: 8px;
  font-size: 32px;
  align-self: start;
  background-color: var(--opp-color);
  margin: 0;
  padding: 4px;
}

.azr_hand {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
