:root {
  --qi-width: 150px;
}

.azr_decks {
  grid-area: decks;
  display: grid;
  grid-template-columns: repeat(5, var(--qi-width));
  justify-content: center;
  gap: 16px;
  width: calc(var(--domain-width) * 2);
}

.azr_qi {
  position: relative;
  aspect-ratio: 1 / 1.52;
  width: var(--qi-width);

  .card-side {
    background-size: cover;
  }
}

.azr_deckCounter {
  font-size: 32px !important;
}

.azr_handContainer {
  grid-area: hand;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.azr_handTitle {
  color: var(--color);
  border-radius: 8px;
  font-size: 32px;
  align-self: start;
  background-color: var(--opp-color);
  margin: 0;
  padding: 4px;
}

.azr_hand {
  display: flex;
  flex-wrap: wrap;
}
