.azr_spaces {
  display: grid;
  grid-template-columns: repeat(6, var(--space-width));
  grid-template-rows: repeat(6, var(--space-width));
}

.azr_space {
  position: relative;
  display: flex;
  grid-column: var(--x);
  grid-row: var(--y);
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--space-width);

  .card-side {
    box-shadow: none !important;
  }

  &.azr_selectable {
    cursor: pointer;
  }

  &.azr_unselectable {
    cursor: not-allowed;
    background-color: #000000bb;
  }

  &.azr_selected {
    background-color: #00640088;
  }
}
