:root {
  --beast-width: calc(var(--space-width) * 0.7);
}

.azr_beast {
  position: relative;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1 / 1.5;
  width: var(--beast-width);
  filter: drop-shadow(0 0 8px #000000);

  * {
    box-shadow: none !important;
  }
}

.azr_beastTooltip {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &Title {
    font-size: 24px;
  }
}
