@use "scss/bga-zoom";
@use "scss/bga-help";
@use "scss/bga-cards";
@use "scss/realm";
@use "components/Beasts/beasts";
@use "components/Qi/qi";
@use "components/Stones/stone";
@use "components/Spaces/space";
@use "components/Wisdom/wisdom";
@use "scss/favors";
@use "scss/panels";
@use "scss/prefs";
@use "scss/logs";

#bga-zoom-wrapper {
  direction: ltr;
}

.azr_gameArea {
  direction: ltr;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "decks empty"
    "realm favors"
    "realm wisdom"
    "hand hand";
  column-gap: 24px;
  row-gap: 16px;
  padding: 8px;
  width: 100%;
  user-select: none;
}

.player-name a:first-of-type,
.playername {
  color: var(--color);
  background-color: var(--opp-color);
  border-radius: 4px;
  box-shadow: 0 0 4px var(--color);
  padding: 2px;
}
