@use "scss/bga-zoom";
@use "scss/bga-help";
@use "scss/bga-cards";
@use "scss/utils.scss";
@use "scss/realm";
@use "components/Beasts/beasts";
@use "components/Qi/qi";
@use "components/Stones/stone";
@use "components/Spaces/space";
@use "components/Wisdom/wisdom";
@use "scss/favors";
@use "scss/panels";
@use "scss/prefs";
@use "scss/logs";

#bga-zoom-wrapper {
  direction: ltr;
}

.azr_gameArea {
  direction: ltr;

  font-family: "Montserrat", Roboto;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    "hand hand"
    "realm favors"
    "realm wisdom"
    "decks empty";
  gap: 24px;
  padding: 16px;
  width: 100%;
  user-select: none;
}
