@use "scss/bga-zoom";
@use "scss/bga-help";
@use "scss/bga-cards";
@use "scss/panels";
@use "scss/realm";
@use "scss/prefs";
@use "components/Beasts/beasts";
@use "components/Qi/qi";

.azr_gameArea {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "hand hand"
    "decks empty"
    "realm wisdom";
  gap: 16px;
  padding: 8px;
  width: 100%;
  user-select: none;
}
