.azr_favorsContainer {
  position: relative;
  grid-area: favors;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  height: calc(var(--domain-width) * 0.9);
  width: 100%;
}

.azr_favorsTitle {
  color: var(--color);
  font-size: 48px;
  position: absolute;
  top: -10%;
  left: 50%;
  background-color: var(--opp-color);
  border-radius: 8px;
  box-shadow: 0 0 8px var(--color);
  margin: 0;
  padding: 4px;
  width: max-content;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.azr_favors {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: 0 0 4px var(--opp-color);
  margin: 0;
  height: 50%;
  width: 100%;

  .playername {
    font-size: 28px;
    position: absolute;
    bottom: -5%;
    right: -5%;
    justify-self: end;
    border-radius: 8px;
    padding: 4px;
    margin: 0;
    width: fit-content;
  }
}

.azr_favorBeasts {
  display: grid;
  grid-template-columns: repeat(4, var(--beast-width));
}
