.azr_logHighlight {
  font-weight: bold;
}

.azr_logIcon {
  background-size: cover;
  margin: 4px auto 0 auto;
}

.azr_spaceIcon {
  display: block;
  box-shadow: 0 0 4px #000000;
  aspect-ratio: 1;
  width: 50px;
}

.azr_qiIcon {
  box-shadow: 0 0 4px #000000;
  aspect-ratio: 1 / 1.52;
  width: 50px;
}
