.player-board-game-specific-content {
  display: flex;
  gap: 16px;
  align-items: end;
  flex-wrap: wrap;
  padding: 8px 2px 0 2px;
}

.azr_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;

  &Icon {
    background-size: cover;
  }

  &Count {
    font-size: 24px;
  }
}

.azr_handCounter {
  --qi-width: 50px;

  &Icon {
    background-image: url("img/qi_0.jpg");
    box-shadow: 0 0 4px #000000;
    width: var(--qi-width);
  }
}

.azr_stoneCounter {
  --stone-width: 50px;

  &Icon {
    box-shadow: inset 0 0 4px 2px #00000033, 0 0 4px #000000;
    width: var(--stone-width);
  }
}
