.player-board-game-specific-content {
  display: flex;
  gap: 16px;
  align-items: end;
  flex-wrap: wrap;
  padding: 8px 2px 0 2px;
}

.azr_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;

  &-icon {
    background-size: cover;
  }
}

.azr_handCounter {
  --qi-width: 50px;
  
  &-icon {
    background-image: url("img/qi_0.jpg");
    width: var(--qi-width);
  }
}

.azr_stoneCounter {
  &-icon {
    box-shadow: inset 0 0 4px 2px #00000033;
    width: calc(var(--stone-width) / 3) !important;
  }
}
