.player-board-game-specific-content {
  display: flex;
  gap: 16px;
  align-items: end;
  flex-wrap: wrap;
  padding: 8px 2px 0 2px;
}

.azr_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;

  &-icon {
    background-size: cover;
  }

  &-count {
    font-weight: bold;
  }
}

.azr_handCounter {
  &-icon {
    background-image: url("img/qi_0.jpg");
    width: calc(var(--qi-width) / 3) !important;
  }
}

.azr_stoneCounter {
  &-icon {
    box-shadow: 0 0 4px 0 #003a4f !important;
    width: calc(var(--stone-width) / 3) !important;
  }
}
