.player-board-game-specific-content {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding: 2px 0;
}

.azr_handCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;

  &-icon {
    background-image: url("img/qi_0.jpg");
    aspect-ratio: 1 / 1.52;
    background-size: cover;
    width: calc(var(--qi-width) / 3);
  }

  &-count {
    font-weight: bold;
  }
}
