.player-name a,
.playername {
  text-shadow: 0 0 16px #003a4f;
}

.azr_pref-thematicBg {
  background-image: url("img/background.jpg");
  background-size: 100% 100%;

  .player-board {
    color: #ffffff;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .player-name a {
    text-shadow: 0 0 16px #ffffff;
  }

  .azr_stoneCounter {
    &-icon {
      box-shadow: 0 0 4px 0 #c1e8fb !important;
    }
  }
}

.azr_pref-floatingHand .azr_hand {
  position: fixed;
  left: 50%;
  bottom: -30%;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s;
  z-index: 2;

  &:hover {
    bottom: -13%;
    z-index: 1052;
  }
}
