.azr_pref-thematicBg {
  background-image: url("img/background.jpg");
  background-size: 100%;

  .player-board {
    color: #ffffff;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: bottom;

    &.spectator-mode {
      div {
        background-image: url("img/background.jpg");
      }
    }
  }
}
