@use "fonts";

.player-name a:first-of-type,
.playername {
  font-family: "Montserrat", Roboto;
  color: var(--color);
  background-color: var(--opp-color);
  border-radius: 4px;
  box-shadow: 0 0 4px var(--color);
  padding: 2px;
}

.azr_customFont-title {
  font-family: "The Slavic", Roboto, sans-serif;
  text-transform: uppercase !important;
}

.dijitTooltipContainer:has(.azr_tooltip) {
  box-shadow: 0 4px 12px var(--color) !important;
  padding: 0;
}

.azr_tooltip {
  font-family: "Montserrat", Roboto;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  color: var(--color);
  background-color: var(--opp-color);
  padding: 8px;
}

.azr_card {
  position: relative;
  background-size: cover;

  .card-side {
    background-size: cover;
  }
}
