@use "fonts";

.player-name a:first-of-type,
.playername {
  font-family: "Montserrat", Roboto;
  color: var(--color);
  text-shadow: 0 0 2px var(--opp-color), 0 0 2px var(--opp-color),
    0 0 2px var(--opp-color), 0 0 2px var(--opp-color);
}

.azr_customFont-title {
  font-family: "The Slavic", Roboto, sans-serif;
  text-transform: uppercase !important;
}

.dijitTooltipContainer:has(.azr_tooltip) {
  box-shadow: 0 4px 12px var(--color) !important;
  padding: 0;
}

.azr_tooltip {
  font-family: "Montserrat", Roboto;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  color: var(--color);
  background-color: var(--opp-color);
  padding: 8px;
}

.azr_card {
  position: relative;
  background-size: cover;

  .card-side {
    background-size: cover;
  }
}

.azr_button {
  &-hidden {
    display: none !important;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#pagemaintitletext {
  &:has(.azr_spaceIcon) {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    span {
      line-height: normal;
      align-self: center !important;
    }
  }

  .azr_spaceIcon {
    display: inline-block;
    margin: 0 0 0 4px;
    width: 40px;
  }
}

.bgabutton {
  &:has(.azr_spaceIcon) {
    padding: 4px;
  }

  .azr_spaceIcon {
    margin: 0;
    width: 40px;
  }
}
